/* Setting the page background color */
body {
  background-color: salmon;
}

/* Styling the page 1 title header */
h1 {
    text-align: center;
    color: firebrick;
    background-color: green;
}

/* Setting up our flex container for our game board and control buttons */
.flex {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

/* Setting up our grid container for the game board */
.grid {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-template-rows: 25vh 25vh 25vh;
}

/* Targeting the square class and adding a border to all of our squares */
.square {
  border: 2px dotted seagreen;
}

/* Removing specific parts of the border on each individual square to make it look like a tic-tac-toe board */
#square1 {
  border-top: none;
  border-left: none;
}

#square2 {
  border-top: none;
}

#square3 {
  border-top: none;
  border-right: none;
}

#square4 {
  border-left: none;
}

#square6 {
  border-right: none;
}

#square7 {
  border-left: none;
  border-bottom: none;
}

#square8 {
  border-bottom: none;
}

#square9 {
  border-bottom: none;
  border-right: none;
}

/* Making our control buttons flex container */
.buttons {
    display: flex;
    justify-content: space-around;
    width: 25vw;
    margin-top: 5%
}

/* Styling our individual control buttons */
.butt {
border-radius: 50%;
}

#start {
width: 100px;
background-color: hotpink;
color: darkturquoise;
}

#reset {
background-color: brown;
color:blueviolet
}

#replay{
background-color: rosybrown;
color: rebeccapurple;
}